<a href="https://colab.research.google.com/github/chiharuishida/Pyproject/blob/main/DC_Airbnb_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#following https://www.dataquest.io/blog/machine-learning-tutorial/ with some minor changes

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/ZixiSu/dataquest/master/dc_airbnb.csv"
dc_listings = pd.read_csv(url)

In [4]:
print(dc_listings.shape) #note: shape means array. this line is optional but if you want to see how many columns and rows, you can run this

(3723, 19)

In [6]:
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

In [ ]:
#Building a Basic KNN Model
#we’ll first calculate the distance, using just the *accommodates* feature/variable, between the first living space in the data set and our own
#We can use the Numpy function np.abs() to get the absolute value.
import numpy as np
our_acc_value = 3
first_living_space_value = dc_listings.loc[0,'accommodates']
first_distance = np.abs(first_living_space_value - our_acc_value)
print(first_distance)

#Note on .loc[] ---> see https://sparkbyexamples.com/pandas/pandas-dataframe-loc/ Basically, Pandas DataFrame is a two-dimensional tabular data structure with labeled axes (1=column, 0=row)
#Selecting columns from DataFrame results in a new DataFrame containing only specified selected columns from the original DataFrame.

1